# Only track files with an extension and makefiles
*
!/**/
!*.*
!**/makefile
!**/Makefile

# Ignore files being edited
*.swp
*~

# Ignore OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore compiled output
dist
*.exe

# Ignore clones of bitburner repo
game
dev

# Ignore save backup folder
backup

# Ignore TODO list
TODO.txt

# Ignore everything in docs folder except LaTeX source files
docs/**/*
!docs/*.tex

# Ignore npm stuff
node_modules/**/*
package.json
package-lock.json
